/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.size_guarantee_section{
	text-align:center;
}
.size_guarantee_section h1{
	color:#4c67e6;
}
 .store_connect_section{
 	text-align:center;
 	 margin-top:40px;

 }

 .size_guarantee_section #storeConnectBtn{
 	font-family: "Helvetica",Sans-serif;
 	 margin-top:70px;
	font-size: 21px;
	font-weight: 500;
	background-color: #4C67E6;
	padding: 15px 30px 15px 30px;
 }


 .size_guarantee_loader {
  border: 16px solid #4c67e6; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin 2s linear infinite;
  margin-left:45%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.connectionLoader{
	margin-top:70px;
  display:none;
  font-weight:bold;
}


.size_guarantee-store-setting-submit {
    background: #4c67e6!important;
    color: white!important;
}
.size_guarantee_note {
  color: #00f;
  text-align: left;
  font-style: italic;
  margin-block-start: 0em;
}
 #apiValidation {
   margin-left: 6px;
 }
 .size_guarantee_logo {
   max-width: 14%;
   border-radius: 10px;
   margin-left: -5%;
 }
 #size_gurantee_success_btn {
  background: green;
  color: white;
  font-weight: bold;
  border: 1px solid green;
cursor: default;
}

#size_gurantee_error_btn{
  background: red;
  color: white;
  font-weight: bold;
  border: 1px solid red;
cursor: default;
}
.size_guarantee_notice_woocommerce {
  text-align: left;
}